/* Navbar container */

.navbar {
    display: flex;
    align-items: left;
    justify-content: space-between;
    height: 50px;
    background-color: #32383D;
    /* change color as desired */
    color: #202529;
    /* change color as desired */
    padding: 0 16px;
    border-bottom: 1px solid #A1B4C4;
}


/* Navbar items */

.navbar a {
    color: #A1B4C4;
    /* change color as desired */
    text-decoration: none;
    margin-right: 16px;
}


/* Active navbar item */

.navbar a.active {
    font-weight: bold;
    color: #A1B4C4
    /* change style as desired */
}